# Prerequisites
*.d

# Datasets for testing
*.tar.gz
*.fvecs
*.ivecs
*.bin
!sift/groundtruth.bin

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/bin/*
!/bin/*_graph.bin
!/bin/*_medoid_map.bin

/bin/test_graph.bin
/bin/test_medoid_map.bin

## Results file
/results.txt